// Palette

$lightBgColor: #323844;
$darkBgColor: #272b34;
$mainTextsFontColor: #fefefe;
$paragraphsFontColor: #787688;
$brandMainColor: #ea4a56;
$hrColor: #7780a4;




// Fonts
$mentionsFontFamily: 'Libre Baskerville', serif;
$serifFont:  Georgia, 'Times New Roman', Times, serif;